<!DOCTYPE html>
<html html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>main</title>
</head>
<body>

    <div class="sideBar">
        <nav>
            <a href="humorPost.html">유머</a>
            <a href="">노래</a>
            <a href="">장터</a>
            <a href="">전체글</a>
        </nav>
        
    </div>
    
    <div class="post"></div>
    <div class="comment">
        댓글 목록
        <input type="text" maxlength="100">
    </div>
    <div class="postListSub"></div>
   
    공통사항2

    <div>
        <input type="text">
        <button type="submit"></button>
    </div>


</body>
</html>