<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    공통사항
    위 태그
    로그인/개인정보 확인
    옆에 다른 게시판으로 이동하는 창
    <div class="topBar">
        게시판
        <a href="" style="text-align: right;">로그인</a>
    </div>

    <div class="sideBar">
        <a href="">유머</a>
        <a href="">노래</a>
        <a href="">장터</a>
        <a href="">전체글</a>
    </div>
    <div class="post"></div>
    <div class="comment">
        댓글 목록
        <input type="text" maxlength="100">
    </div>
    <div class="postListSub"></div>
   
    공통사항2

    <div>
        <input type="text">
        <button type="submit"></button>
    </div>


</body>
</html>